<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">    
    <title>Ninjas facts</title>
</head>
<body>
    <h1>Ninjas facts</h1>
    <p>There is a myth that ninja were the bane of samurai, but in reality the stealthy fighters were actually highly valued by Japan’s warrior class. Ninja did what samurai couldn’t. Spying and sabotaging were necessities in war, and the samurai knew they needed ninja to carry out the kinds of covert operations that their honor would not allow them to perform. Often, ninja even worked side by side with samurai. In at least one instance, they were recorded to have led samurai forces in night raids against a unsuspecting enemy.
        
        The most renown ninja were from the Iga and Koga clans, who lent themselves out to anyone willing to pay, but their fall didn’t diminish the need for highly-trained spies. Without any ninja clans to be hired out, daimyo set to recruiting and training their own. Whether these ninja were of the same quality as the warriors from Iga and Koka is uncertain, but many of the remaining ninja, such as Hattori Hanzo, joined forces with and served as samurai leaders themselves. Ninja were an essential part of war, and samurai both recognized and respected that.</p>
</body>
</html>